* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pokemon Pixel Font Regular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 3.2rem;
}
